name: CI

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: args setup
        run: |
          echo ${{ github.ref }}
          echo ${{ github.ref_name }}
          echo $GITHUB_REF
          echo ${GITHUB_REF/refs\/tags\//}
